@media screen and (max-width : 800px) {
    nav{
        flex-direction: column;
    }

    nav .logo img{
        margin: auto;
    }

    nav .search{
    
        justify-content: center;
    
    }

    nav .search input{
      width: 230px;
      margin: 10px;
    }

    .container .slider img{
      height: 220px;;

    }
}


@media screen and (max-width : 1180px){
    .grid-container{
        display: grid;
        grid-template-columns: auto auto ;
        grid-row-gap: 6px;
        grid-column-gap: 6px;
        justify-content: space-evenly;
    }
    
}
@media screen and (max-width : 628px){
    .grid-container{
        display: grid;
        grid-template-columns: auto ;
        grid-row-gap: 6px;
        justify-content: space-evenly;
    }
    
}